[include extruder_orbiter_1.5.cfg]

[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
control: pid

# для 115ºC
pid_Kp=38.211 
pid_Ki=0.200 
pid_Kd=1825.543

min_temp: -100
max_temp: 130

# Heater and temperature sensor verification. Heater verification is
# automatically enabled for each heater that is configured on the
# printer. Use verify_heater sections to change the default settings.
[verify_heater heater_bed]
max_error: 300
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 300
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 2
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 0.1
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

# [fan]
# pin: ar9

# [temperature_fan heatbreak]
# pin: ar9
# max_power: 1.0
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: analog13
# control: watermark
# min_temp: 0
# max_temp: 80
# target_temp: 30.0
# gcode_id: H

[temperature_sensor heatbreak]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog15
min_temp: 0
max_temp: 80
gcode_id: H

[fan]
pin: ar9


[temperature_sensor pi_cpu]
sensor_type: temperature_host
min_temp: 0
max_temp: 100


# [temperature_sensor ramps_cpu]
# sensor_type: temperature_mcu
# min_temp: 0
# max_temp: 100