[bed_mesh]
speed: 160
horizontal_move_z: 3
mesh_min: 10,10
mesh_max: 500,530
probe_count: 8,8
algorithm: bicubic
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.


[z_tilt]
z_positions:
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the XY position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
	#-55,12.5
	#-55,548
	#555,287

# final z_positions are 
    -38.727686, -8.121143
    -36.942982, 544.678326
    566.165654, 271.605109
#14:52:30
z_offsets: 
    0.232832, -0.236335, 0.226165, -0.218279
points:
    0,0
    0,540
    540,540
    540,0

speed: 160
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 50