[include client.cfg]
[include heaters.cfg]
[include client_macros.cfg]

[input_shaper]
# 120 * 2 / 8.22
shaper_freq_x: 29.19
# 120 * 4 / 18.7
shaper_freq_y: 25.66
shaper_type: mzv

[idle_timeout]
timeout: 3600

[force_move]
enable_force_move: True

[probe]
#pin: ^ar57
pin: ^!ar18
#sensor_pin: ar19
x_offset: 0
y_offset: 0
z_offset: 0

speed: 6.0
samples: 3
sample_retract_dist: 4.0
samples_tolerance: 0.025
samples_tolerance_retries: 3

activate_gcode: G4 P500


[bed_mesh]
speed: 160
horizontal_move_z: 3
mesh_min: 10,10
mesh_max: 500,530
probe_count: 8,8
algorithm: bicubic
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.


[z_tilt]
z_positions:
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the XY position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
	-55,12.5
	-55,548
	555,287
points:
    0,0
    0,540
    540,540
    540,0

speed: 160
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 50

[homing_override]
set_position_z:0
gcode:
  G1 Z10 F500
  G28 X Y
  G1 X270 Y270 F6000
  G28 Z
#  Z_TILT_ADJUST
##  BED_MESH_CALIBRATE
  g1 z5
#  G1 X250 Y250 F3000

[mcu host]
serial: /tmp/klipper_host_mcu


[stepper_y]
endstop_pin: ^host:gpio16
position_endstop: 0
position_max: 550

enable_pin: host:gpio19
step_pin: host:gpio2
dir_pin:  host:gpio17

step_distance: .01

homing_speed: 80
homing_retract_dist: 5
second_homing_speed: 2.5


[stepper_x]
endstop_pin: ^!host:gpio26
position_endstop: 540
position_max: 540

enable_pin: host:gpio19
step_pin: host:gpio27
dir_pin: !host:gpio18

step_distance: .01
homing_speed: 80
homing_retract_dist: 5
second_homing_speed: 2.5


[stepper_z]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
step_distance: .0025
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
position_max: 550
homing_speed: 6
second_homing_speed: 6
position_min: -50

[stepper_z1]
step_pin: ar60
dir_pin: !ar61
enable_pin: !ar56
step_distance: .0025
#endstop_pin: ^!ar14

[stepper_z2]
step_pin: ar46
dir_pin: ar48
enable_pin: !ar62
step_distance: .0025
#endstop_pin: ^!ar18



[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
pin_map: arduino

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 7000
max_accel_to_decel: 7000
max_z_velocity: 6
max_z_accel: 50

# Common EXP1 / EXP2 (display) pins
[board_pins]
aliases:
    # Common EXP1 header found on many "all-in-one" ramps clones
    EXP1_1=ar37, EXP1_3=ar17, EXP1_5=ar23, EXP1_7=ar27, EXP1_9=<GND>,
    EXP1_2=ar35, EXP1_4=ar16, EXP1_6=ar25, EXP1_8=ar29, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=ar50, EXP2_3=ar31, EXP2_5=ar33, EXP2_7=ar49, EXP2_9=<GND>,
    EXP2_2=ar52, EXP2_4=ar53, EXP2_6=ar51, EXP2_8=ar41, EXP2_10=<RST>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi"
    # Note, some boards wire: EXP2_8=<RST>, EXP2_10=ar41

[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1

[gcode_macro M300]
default_parameter_S: 1
#   Use a default 1kHz tone if S is omitted.
default_parameter_P: 100
#   Use a 10ms duration is P is omitted.
gcode:
    SET_PIN PIN=beeper VALUE={S}
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0