[submodule "lib/pronged_t_nuts"]
	path = lib/pronged_t_nuts
	url = https://github.com/eraga/pronged_t_nuts
[submodule "lib/cyclone_dust_collector"]
	path = lib/cyclone_dust_collector
	url = https://github.com/eraga/cyclone_dust_collector
